<div class="main top-main">
    <div class="top-message">
        <p>
            <strong class="is-size-1" style="font-family: cursive;">Artgallery</strong>
        </p>

        <%= attachment_image_tag @picture, :image %>
    </div>
</div>


